<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Contact</title>	
	<link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body bgcolor="black">
	<div class="center">	
		<img src="{% static 'images/bg3.png' %}" alt="" class="background">
	
	<div class="center1">	
		<img src="{% static 'images/aaa.png' %}" alt="" class="background1">
		<div class="center1" id="fotocontact">	
		<img src="{% static 'images/titus3.png' %}" class="fototitus3">
	</div>
	<div class="center1"  id="sosialmedia">
		<p><a href="https://web.facebook.com/tius.pamungkas"><img src="{% static 'images/facebook.png' %}" class="socialmedia" id="facebook"></a><a href="https://twitter.com/TiusDirgantoro"><img src="{% static 'images/twitter.png' %}" class="socialmedia"></a><a href="https://www.instagram.com/titus_dp/"><img src="{% static 'images/instagram.png' %}" class="socialmedia"></a></p>
	</div>
	<div class="center1" id="navigation">
		<ul>
	  		<li class="page1"><a href="{% url 'homepage:profile' %}"><font color="white">Home</font></a></li>
	  		<li class="page1"><a href="{% url 'homepage:about' %}"><font color="white">About</font></a></li>
	  		<li class="page1"><a href="{% url 'homepage:contact' %}"><font><b>Contact</b></font></a></li>
		</ul>
	</div>

	<div class="center1" id="topage4">
		<a href="{% url 'homepage:foto' %}">PHOTO OF TITUS</a>
	</div>
	</div>
	
    </div>
</body>
</html>