<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Story3 Titus Dirgantoro</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/story3.css' %}">

</head>
<body bgcolor="black">
	<div class="center">	
		<img src="{% static 'images/aa.png' %}" alt="" class="background">
		<div class="center1">	
		<img src="{% static 'images/aaa.png' %}" class="background1">
		<div class="center2">
		<img src="{% static 'images/titus.jpg' %}" class="fototitus">
		</div>

	<div class="center1" id="profil">
		<p class="page1"><img src="{% static 'images/welcome1.jpg' %}" class="welcome"></p>
		<p class="page1">Helloo Guys, I am</p>
		<p class="page1i">"Titus Dirgantoro P"</p>
		<br>
		<p class="page1">Birth : 26 March 2001</p>
		<p class="page1">Home : Bekasi,Kaliabang Tengah</p>
		<p class="page1">Email : titusdirgantoro@gmail.com</p>
		<p class="page1">No. Telp : 081286263581</p>
	</div>

	<div class="center1" id="quotes">
		<p class="quote">"Don't plant paddy in dry soil, do not also plant cactus in waterlogged soils. <br> all actions and attitudes that you do will be right if it suits the right place and time. "</p>
	</div>

	<div class="center1" id="navigation">
		<ul class="page1">
	  		<li class="page1"><a href="{% url 'homepage:profile' %}"><font><b>Home</b></font></a></li>
	  		<li class="page1"><a href="{% url 'homepage:about' %}"><font color="white">About</font></a></li>
	  		<li class="page1"><a href="{% url 'homepage:contact' %}"><font color="white">Contact</font></a></li>
		</ul>
	</div>
		</div>
	
	</div>
	

</body>
</html>